  
 <div class="container">
  <h2>Bước 1: Chọn Triệu Chứng Cơ Bản</h2>
  <div class="checkbox-group">
    <label *ngFor="let trieuChung of trieuChungList">
      <input type="checkbox" [(ngModel)]="trieuChung.isSelected">
      {{ trieuChung[1] }}
    </label>
  </div>
  <button (click)="loadDetailSymptoms()" *ngIf="!showStep2">Tiếp Theo</button>
</div>

  

    
<div *ngIf="showStep2">
      <h2>Bước 2: Chọn Triệu Chứng Chi Tiết</h2>
      <div *ngFor="let trieuChung of detailSymptoms">
        <label><input type="checkbox" [(ngModel)]="trieuChung.isSelected"> {{ trieuChung.ten_trieu_chung }}</label>
      </div>
      <button (click)="diagnoseDisease()" *ngIf="!showStep3">Chuẩn Đoán Bệnh</button>
</div>
    
<div *ngIf="showStep3">
      <h2>Bước 3: Kết Quả Chuẩn Đoán</h2>
      <p>{{ diagnosisResult }}</p>
  </div>
    
    
 
  
  
  