  
 <div class="container">
  <h2>Bước 1: Chọn Triệu Chứng Cơ Bản</h2>
  <div class="checkbox-group">
    <label *ngFor="let trieuChung of trieuChungList">
      <input type="checkbox" [(ngModel)]="trieuChung.isSelected" [disabled]="disableBasicSymptoms">
      {{ trieuChung[1] }}
    </label>
  </div>
  <button (click)="loadDetailSymptoms()" *ngIf="!showStep2">Tiếp Theo</button>
</div>

  

    
<div class ="container" *ngIf="showStep2">
      <h2>Bước 2: Chọn Triệu Chứng Chi Tiết</h2>
      <div class="checkbox-group">
              <label *ngFor="let trieuChung of detailSymptoms1">
                <input type="checkbox" [(ngModel)]="trieuChung.isSelected"> {{ trieuChung.ten_trieu_chung }}</label>
      </div>
      <button (click)="diagnoseDisease()" *ngIf="!showStep3">Chuẩn Đoán Bệnh</button>
</div>
    
<div class="container" *ngIf="showStep3">
  <h2>Bước 3: Kết Quả Chuẩn Đoán</h2>
  <div *ngIf="ketqua && ketqua.length > 0">
    <ul>
      <div *ngFor="let benh of ketqua; let i = index">
        <li class="kq">
          {{ benh.ten_benh }}
          <a class="chitiet" (click)="selectBenh(benh)">Chi tiết</a>
          <div *ngIf="selectedBenh && selectedBenh.ma_benh === benh.ma_benh">
            <h3>Thông tin chi tiết về bệnh: {{ selectedBenh.ten_benh }}</h3>
            <ul>
              <li class="tc" *ngFor="let trieuChung of selectedBenh.trieu_Chung">
                {{ trieuChung[1] }}
              </li>
            </ul>
          </div>
        </li>
      </div>
    </ul>
  </div>
  <div *ngIf="ketqua1 && ketqua.length === 0">
    <ul>
      <div *ngFor="let benh of ketqua1; let i = index">
        <li class="kq">
          {{ benh.ten_benh }}
          <a class="chitiet" (click)="selectBenh(benh)">Chi tiết</a>
          <div *ngIf="selectedBenh && selectedBenh.ma_benh === benh.ma_benh">
            <h3>Thông tin chi tiết về bệnh: {{ selectedBenh.ten_benh }}</h3>
            <ul>
              <li class="tc" *ngFor="let trieuChung of selectedBenh.trieu_Chung">
                {{ trieuChung[1] }}
              </li>
            </ul>
          </div>
        </li>
      </div>
    </ul>
  </div>
  <br>
  <button class="reset-button"(click)="resetDiagnosis()">Chuẩn đoán lại</button>
  <br>
  <br>
  <button class="back-button"routerLink="">Trở về</button>
</div>




    
 
  
  
  