<body>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
      <h1 class="logo"><a href="">Chuẩn Đoán Bệnh<span></span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Trang Chủ</a></li>
          <li><a class="nav-link scrollto" href="#about">Hệ Chuyên Gia</a></li>
          <li><a class="nav-link scrollto" href="#services">Bệnh Hô Hấp</a></li>
          <li class="dropdown">
            <a href="#"[routerLink]="['/login']"><span>Đăng Nhập/Đăng Ký</span> <i class="bi bi-chevron-down"></i></a>
            <!-- <div class="dropdown-content">
              <a [routerLink]="['/login']">Sign in</a>
              <a [routerLink]="['/register']">Sign up</a>
            </div>
             -->
          </li>
          <li><a class="nav-link scrollto" href="#contact">Liên hệ</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
  </header><!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <span>Hệ Chuyên Gia Chuẩn đoán bệnh</span></h1>
      <h2>Chuẩn đoán bệnh hô hấp, kết quả chỉ mang tính tham khảo</h2>
      <div class="d-flex">
        <a class="btn-get-started scrollto" routerLink="diagnosis">Chuẩn đoán ngay</a>
      </div>
    </div>
  </section><!-- End Hero -->

   <!-- ======= Về Hệ Chuyên Gia Section ======= -->
   <section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Hệ Chuyên Gia</h2>
        <h3>Hệ Chuyên Gia <span>Là Gì?</span></h3>
        <p>Hệ chuyên gia là một hệ thống thông tin máy tính được thiết kế để giải quyết các vấn đề hoặc câu hỏi trong một lĩnh vực chuyên môn cụ thể.</p>
      </div>

      <div class="row">
        
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <h3>Hệ Chuyên Gia Hoạt Động Như Thế Nào?</h3>
          <p class="fst-italic">
            Hệ chuyên gia hoạt động bằng cách sử dụng cơ sở dữ liệu kiến thức đầy đủ về một lĩnh vực cụ thể và các quy tắc logic để đưa ra các quyết định hoặc giải quyết các vấn đề phức tạp. Chúng có thể được sử dụng trong nhiều lĩnh vực, từ y học đến kỹ thuật, để giúp đỡ người dùng giải quyết các vấn đề mà cần kiến thức chuyên môn đặc biệt.
          </p>
          <ul>
            <li>
              <i class="bx bx-store-alt"></i>
              <div>
                <h5>Cấu thành của một Hệ Chuyên Gia bao gồm: </h5>
                <p>Kiến Thức, Bộ Quy Tắc, Bộ Ghi Nhận, Giao Diện Người Dùng.</p>
              </div>
            </li>
            <li>
              <i class="bx bx-images"></i>
              <div>
                <h5>Ứng Dụng Của Hệ Chuyên Gia bao gồm 1 số lĩnh vực như:</h5>
                <p>
                  
                  Y Học: Chuẩn đoán bệnh dựa trên các triệu chứng và thông tin về bệnh lý.
                  <br>
                  Tài Chính: Đưa ra các khuyến nghị đầu tư dựa trên dữ liệu thị trường và mục tiêu của nhà đầu tư.
                   <br>
                  Kỹ Thuật: Giúp xác định rõ nguyên nhân của các lỗi hệ thống và đề xuất các giải pháp.
                   <br>
                   Hỗ Trợ Khách Hàng: Các hệ chuyên gia trong dịch vụ khách hàng có thể giúp người dùng tìm kiếm thông tin, giải quyết vấn đề hoặc đưa ra các sản phẩm và dịch vụ phù hợp dựa trên nhu cầu của họ.
                  </p>
              </div>
            </li>
          </ul>
          <p>
            Một điểm mạnh của hệ chuyên gia là khả năng giữ và sử dụng kiến thức chuyên môn một cách hiệu quả, đặc biệt trong các tình huống mà việc này có thể trở nên phức tạp đối với con người. Tuy nhiên, hạn chế của chúng bao gồm việc chúng chỉ giải quyết các vấn đề trong phạm vi kiến thức mà chúng đã được lập trình và không thể tự học hay mở rộng kiến thức của mình như con người.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
  <!-- ======= Bệnh Hô Hấp Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Bệnh Hô Hấp</h2>
        <h3>Tổng quan về bệnh hô hấp</h3>
        
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a>Giới thiệu</a></h4>
            <p>Đường hô hấp bao gồm các bộ phận như xoang, đường mũi, hầu họng, thanh quản. Các tổ chức này dẫn không khí từ bên ngoài môi trường vào phế quản và đến phổi để diễn ra quá trình hô hấp. Tuy nhiên, với thực trạng môi trường không khí bị ô nhiễm từ khí thải công nghiệp, các động cơ, phương tiện giao thông tác động tiêu cực đến bộ máy đường hô mất khiến chúng dể mắc bệnh và dẫn đến tình trạng khó thở và thở khò khè.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a>Nguyên nhân</a></h4>
            <p>► Ô nhiễm môi trường ngày càng gia tăng là một trong những nguyên nhân hàng đầu gây nên một số bệnh như hen suyễn, bệnh phổi tắc nghẽn mạn tính và ung thư phổi.
                <br>
                <br>
              ► Tình trạng dị ứng cũng là một trong những nguyên nhân gây ra các bệnh ở đường hô hấp như hen suyễn. Đối với một số người nhạy cảm, việc tiếp xúc với các tác nhân như thuốc lá, phấn hoa, nấm mốc hay ăn một số loại thức ăn nhất định,… sẽ gây ra dị ứng, kích thích các triệu chứng của hen suyễn như khó thở và thở khò khè.
                <br>
                <br>
              ► Thời tiết thay đổi thất thường cũng có thể khiến một số người mắc phải các bệnh về đường hô hấp như viêm phổi, viêm phế quản,… đặc biể là ở trẻ em. Nhiều người thường không quan tâm đến các triệu chứng như ho, sốt, cảm lạnh khi thời tiết thay đổi. Tuy nhiên, nếu không quan tâm để cho triệu chứng này kéo dài mà không được điều trị có thể dẫn đến các bệnh hô hấp nghiêm trọng như viêm phổi, suy hô hấp,….</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a>Cách phòng bệnh</a></h4>
            <p>► Tránh tiếp xúc với những người bị bệnh về đường hô hấp
              <br>
              
              ► Rửa tay thường xuyên để phòng tránh bệnh đường hô hấp
              <br>
             
              ► Sử dụng chất khử trùng trong vệ sinh nhà cửa
              <br>
              
              ► Uống đủ nước
              <br>
              
              ► Giảm căng thẳng giúp phòng tránh bệnh tật
              <br>
              
              ► Ngủ đủ giấc mỗi ngày
              <br>
             
              ► Uống thực phẩm chức năng tăng cường miễn dịch
      
            </p>
          </div>
        </div>

      

        
      </div>

    </div>
  </section><!-- End Services Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="containerr">
    <div class="info-box1">
      <!-- Địa chỉ -->
      <i class="bx bx-map1"></i>
      <h3>Địa chỉ</h3>
      <p>55 Giải Phóng, Hai Bà Trưng, Hà Nội</p>
    </div>
  
    <div class="info-box2">
      <!-- Email -->
      <i class="bx bx-envelope1"></i>
      <h3>Email</h3>
      <p>huonggiang5012001@gmail.com</p>
    </div>
  
    <div class="info-box3">
      <!-- Số điện thoại -->
      <i class="bx bx-phone-call1"></i>
      <h3>Số điện thoại</h3>
      <p>+1 5589 55488 55</p>
    </div>
  </div>
    <div class="map-box">
      <!-- Bản đồ -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.7177028715378!2d105.8395263749999!3d21.003950188630853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac775d1a29b1%3A0x47ca351d075745a6!2zNTUgR2nhuqNpIFBow7NuZywgxJDhu5NuZyBUw6JtLCBIYWkgQsOgIFRyxrBuZywgSMOgIE7hu5lpIDEwMDAwMCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1697734791249!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
 
</section>
</body>