<body>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
      <h1 class="logo"><a href="">Chuẩn Đoán Bệnh<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Trang Chủ</a></li>
          <li><a class="nav-link scrollto" href="#about">Hệ Chuyên Gia</a></li>
          <li><a class="nav-link scrollto" href="#services">Chuẩn Đoán Bệnh Hô Hấp</a></li>
          <li class="dropdown">
            <a href="#"><span>Sign</span> <i class="bi bi-chevron-down"></i></a>
            <div class="dropdown-content">
              <a [routerLink]="['/login']">Sign in</a>
              <a [routerLink]="['/register']">Sign up</a>
            </div>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
  </header><!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <span>HCG Chuấn đoán đệnh</span></h1>
      <h2>We are team of talented designers making websites with Bootstrap</h2>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Chuẩn đoán ngay</a>
      </div>
    </div>
  </section><!-- End Hero -->

   <!-- ======= Về Hệ Chuyên Gia Section ======= -->
   <section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Hệ Chuyên Gia</h2>
        <h3>Hệ Chuyên Gia <span>Là Gì?</span></h3>
        <p>Hệ chuyên gia là một hệ thống thông tin máy tính được thiết kế để giải quyết các vấn đề hoặc câu hỏi trong một lĩnh vực chuyên môn cụ thể.</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="img/assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <h3>Hệ Chuyên Gia Hoạt Động Như Thế Nào?</h3>
          <p class="fst-italic">
            Hệ chuyên gia hoạt động bằng cách sử dụng cơ sở dữ liệu kiến thức đầy đủ về một lĩnh vực cụ thể và các quy tắc logic để đưa ra các quyết định hoặc giải quyết các vấn đề phức tạp. Chúng có thể được sử dụng trong nhiều lĩnh vực, từ y học đến kỹ thuật, để giúp đỡ người dùng giải quyết các vấn đề mà cần kiến thức chuyên môn đặc biệt.
          </p>
          <ul>
            <li>
              <i class="bx bx-store-alt"></i>
              <div>
                <h5>Cấu thành của một Hệ Chuyên Gia bao gồm: </h5>
                <p>Kiến Thức, Bộ Quy Tắc, Bộ Ghi Nhận, Giao Diện Người Dùng.</p>
              </div>
            </li>
            <li>
              <i class="bx bx-images"></i>
              <div>
                <h5>Ứng Dụng Của Hệ Chuyên Gia bao gồm 1 số lĩnh vực như:</h5>
                <p>
                  <br>
                  Y Học: Chuẩn đoán bệnh dựa trên các triệu chứng và thông tin về bệnh lý.
                  <br>
                  Tài Chính: Đưa ra các khuyến nghị đầu tư dựa trên dữ liệu thị trường và mục tiêu của nhà đầu tư.
                   <br>
                  Kỹ Thuật: Giúp xác định rõ nguyên nhân của các lỗi hệ thống và đề xuất các giải pháp.
                   <br>
                   Hỗ Trợ Khách Hàng: Các hệ chuyên gia trong dịch vụ khách hàng có thể giúp người dùng tìm kiếm thông tin, giải quyết vấn đề hoặc đưa ra các sản phẩm và dịch vụ phù hợp dựa trên nhu cầu của họ.
                  </p>
              </div>
            </li>
          </ul>
          <p>
            Một điểm mạnh của hệ chuyên gia là khả năng giữ và sử dụng kiến thức chuyên môn một cách hiệu quả, đặc biệt trong các tình huống mà việc này có thể trở nên phức tạp đối với con người. Tuy nhiên, hạn chế của chúng bao gồm việc chúng chỉ giải quyết các vấn đề trong phạm vi kiến thức mà chúng đã được lập trình và không thể tự học hay mở rộng kiến thức của mình như con người.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
  <!-- ======= Chuẩn Đoán Bệnh Hô Hấp Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Chuẩn Đoán Bệnh Hô Hấp</h2>
        <h3>Check our <span>Services</span></h3>
        <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Lorem Ipsum</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Sed ut perspiciatis</a></h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Magni Dolores</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Nemo Enim</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="">Dele cardo</a></h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">Divera don</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->
</body>