<body>
  <header id="header" class="d-flex align-items-center">
    <div class="welcome">
      Xin chào,
      <label class="user">{{fullname}}</label><br />

    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="a" (click)="themLuatMoi()">Thêm luật</a></li>
        <li><a class="ab" (click)="themBenhMoi()">Thêm Bệnh</a></li>

        <li class="dropdown">

          <a (click)="logout()"><span>Đăng xuất</span> <i class="bi bi-chevron-down"></i></a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </header>
  <!-- ======= Hero Section ======= -->
  <br>
  <br>
  <section *ngIf="themLuat" class="a">
    <div class="flex-container">
      <div  class="container" data-aos="zoom-out" data-aos-delay="100">
        <div class="tables-container">
          <div class="table">
            <div *ngIf="benhss">
              <h2>Danh Sách Các Bệnh Mới</h2>

              <table class="b">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tên Bệnh</th>
                    <th>Loại Hệ</th>
                    <th>Trạng Thái</th>
                    <th>Thêm Bệnh</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let benh of benhss">
                    <ng-container *ngIf="!benh.da_co_luat">
                    <tr>
                      <td>{{ benh.ma_benh }}</td>
                      <td>{{ benh.ten_benh }}</td>
                      <td>
                        <ng-container *ngIf="benh.loai_he == 1; else otherType">{{ 'Hệ hô hấp trên' }}</ng-container>
                        <ng-template #otherType>{{ 'Hệ hô hấp dưới' }}</ng-template>
                      </td>
                      <td>
                        <!-- Hiển thị Trạng thái -->
                        <span *ngIf="benh.da_co_luat; else chuaCoLuat">Đã có Luật</span>
                        <ng-template #chuaCoLuat>Chưa có Luật</ng-template>
                      </td>
                      <td>
                        <!-- Hiển thị button Thêm Luật dựa trên Trạng thái -->
                        <button *ngIf="!benh.da_co_luat" (click)="themLuat123(benh)">Thêm Luật</button>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
                </tbody>
              </table>
              

            </div>
          </div>

          <div class="tables-container" *ngIf="addrule">
            <div class="table">
              
                <h2>Bệnh đang thêm luật</h2>
  
                <table class="tb">
                  <thead>
                    <tr>
                      <th>Mã bệnh</th>
                      <th>Tên bệnh</th>
                      <th>Loại hệ</th>
                      
  
                    </tr>
                  </thead>
                  <tbody>
                    <tr >
  
                      <td>{{selectBenhaddrule.ma_benh}}</td>
                      <td>
                        {{selectBenhaddrule.ten_benh}}
                      </td>
                      <td>
                        {{selectBenhaddrule.loai_he}}
                      </td>
                    
                    </tr>
  
                  </tbody>
                </table>
  
                <table class="tb">
                  <thead>
                    <tr>
                      <th>Mã triệu chứng</th>
                      <th>Tên triệu chứng</th>
                      
                      
  
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let trieuchung of trieuchungaddrule">
  
                      <td>{{trieuchung[0]}}</td>
                      <td>
                        {{trieuchung[1]}}
                      </td>
                     
                    
                    </tr>
  
                  </tbody>
                </table>
                <ng-container *ngIf="trieuchungaddrule && trieuchungaddrule.length > 0">
                  <div class="additional-info">
                      <h3>Luật loại 1: 
                          
                          <ng-container *ngFor="let trieuchung of trieuchungaddrule; let last = last">
                             TC{{ trieuchung[0] }}
                              <span *ngIf="!last"> + </span>
                          </ng-container>
                          => B{{ selectBenhaddrule.ma_benh }}
                          <button (click)="saveruletype1()" [disabled]="saverule1">Lưu</button>
                      </h3>
                      <span>{{messageaddrule1}}</span>
                  </div>
                  
              </ng-container>
              <ng-container *ngIf="ma_tc && ma_tc.length > 0">
                <div class="additional-info">
                    <h3>Luật loại 3: 
                        
                        <ng-container *ngFor="let trieuchung of ma_tc">
                           <span *ngIf="trieuchung!=0">TC{{ trieuchung }}
                           => B{{ selectBenhaddrule.ma_benh }}</span>
                           <br>
                        </ng-container>
                        
                        <button (click)="saveruletype3()" [disabled]="saverule3" >Lưu</button>
                    </h3>
                    <span>{{messageaddrule3}}</span>
                </div>
                
            </ng-container>
              </div>
             
            </div>

        </div>
      </div>
    </div>
    
  </section>

  <section *ngIf="themBenh " class="ab">
    <div class="flex-container">
      <div *ngIf="themBenh" class="container" data-aos="zoom-out" data-aos-delay="100">
        <div class="tables-container">
          <div class="table">
            <div *ngIf="benhs">
              <h2>Danh Sách Các Bệnh Mới</h2>

              <table class="tb">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tên Bệnh</th>
                    <th>Loại Hệ</th>
                    <th>Trạng Thái</th>
                    <th>ID Chuyên Gia</th>
                    <th>Tên Chuyên Gia</th>
                    <th>Ghi chú</th>
                    <th>Thêm Bệnh</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let benh of benhs">
                    <tr *ngIf="benh.trang_thai == 1" (click)="selectBenh(benh); selectBenh1(benh.ma_benh_moi)"
                      [ngClass]="{'selected-row': benh === selectedBenh, 'hover-row': benh === hoveredBenh}"
                      (mouseenter)="hoveredBenh = benh" (mouseleave)="hoveredBenh = null">
                      <!-- Các ô dữ liệu -->
                      <td>{{ benh.ma_benh_moi }}</td>
                      <td>{{ benh.ten_benh_moi }}</td>
                      <td>
                        <ng-container *ngIf="benh.loai_he == 1; else otherType">{{ 'Hệ hô hấp trên' }}</ng-container>
                        <ng-template #otherType>{{ 'Hệ hô hấp dưới' }}</ng-template>
                      </td>
                      <td>Đã Sửa</td>
                      <td>{{ benh.userEntity.id_user }}</td>
                      <td>{{ benh.userEntity.fullname }}</td>
                      <td>{{ benh.ghi_chu }}</td>
                      <td>
                        <button *ngIf="selectedBenh && selectedBenh.ma_benh_moi === benh.ma_benh_moi && benh.ghi_chu === 'Chưa thêm vào CSDL'"
                          (click)="showNewBenhDetails(); isAddNewBenhClicked = true;">Thêm bệnh mới</button>
                        <ng-container *ngIf="!selectedBenh || (selectedBenh && selectedBenh.ma_benh_moi !== benh.ma_benh_moi)">
                          Có thể thêm
                        </ng-container>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>

            </div>
          </div>

        </div>
        <div class="tables-container" *ngIf="selectedBenh1">
          <div class="table">
            <div *ngIf="listTrieuChung">
              <h2>Danh Sách Trieu Chứng</h2>

              <table class="tb">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tên Triệu Chứng</th>
                    <th>Check</th>
                    <th>Thêm Triệu Chứng</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let trieuchung of listTrieuChung, let i=index"
                    [ngClass]="{'selected-row': trieuchung === selectedBenh, 'hover-row': trieuchung === hoveredBenh}"
                    (mouseenter)="hoveredBenh = trieuchung" (mouseleave)="hoveredBenh = null"
                    (click)="showTrieuChung && !trieuchung.isClicked && selectTrieuChung(trieuchung)">

                    <td>{{trieuchung[0]}}</td>
                    <td>
                      <span *ngIf="!trieuchung.isEditing">{{ trieuchung[1] }}</span>
                      <input *ngIf="trieuchung.isEditing" type="text" [(ngModel)]="trieuchung[1]">

                    </td>
                    <td>
                      <span>
                        {{ check[i] === null ? 'TC không tồn tại' : (check[i] != null ? 'Mã TC trong CSDL: '+check[i] :
                        'Other value') }}
                        <!-- Điều chỉnh 'N/A', '7', 'Other value' theo nhu cầu -->
                      </span>
                    </td>
                    <!-- ... -->
                    <td>
                      <span *ngIf="check[i] == null ||check[i] ">
                        <button *ngIf="isAddNewBenhClicked && !trieuchung.isClicked" (click)="selectTrieuChung(trieuchung)">Chọn</button>
                        <span *ngIf="trieuchung.isClicked">Đã Chọn</span> <!-- Nội dung "Đã Chọn" -->
                      </span>
                    </td>
                    <!-- ... -->



                  </tr>

                </tbody>
              </table>

            </div>

          </div>

          <!-- <button (click)="showNewBenhDetails()" >Thêm bệnh mới</button> -->


          <div *ngIf="selectedBenh12">
            <div *ngIf="newBenh">
              <h2>Thông tin bệnh mới</h2>
              <table class="new-tb">
                <thead>
                  <tr>
                    <th>Tên Bệnh Mới</th>
                    <td>Tên TC mới</td>
                    <!-- cần thêm cột loại hệ ở đây -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let trieuChung of selectedTrieuChung">
                    <td>{{ trieuChung.tenBenh }}</td>
                    <td>{{trieuChung.tenTrieuChung}}</td>

                  </tr>
                </tbody>
              </table>
             
              <!-- thêm phần hỏi xem có chắc chắn lưu không -->
              <!-- Bảng bệnh mới thêm cột xem đã lưu vào csdl chính chưa -->
              <!-- cg gửi bệnh mới đến thì thêm 1 trường gửi vào mặc định là chưa thêm vào csdl -->
              <!-- khi nhấn button lưu ở trên thì gửi 1 trường mặc định vào bảng bệnh mới là đã lưu vào cơ sở dữ liệu -->
            </div>
          </div>


        </div>
      </div>
      <button (click)="SaveNewBenh(selectedBenh)">Lưu</button>
    </div>
  </section>





  <!-- End Hero -->

</body>