/* CSS cho header */
#header {
  background-color: #333;
  color: #fff;
  padding: 25px 0;
  cursor: pointer; 
}

.welcome {
  margin-right: 20px;
}

.user {
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #cce5ff;
}

.dropdown {
  position: relative;
}
/* CSS cho phần Thêm bệnh và Thêm luật */
#navbar {
  display: flex;
  justify-content: flex-end; /* Hiển thị các phần tử ở bên phải */
  align-items: center;
}

#navbar .a,
#navbar .ab {
  margin-left: 10px; /* Để tạo khoảng cách giữa các phần tử */
}

/* Điều chỉnh các phần tử Thêm bệnh và Thêm luật trên thanh taskbar */
#navbar .a a,
#navbar .ab a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #333;
}

#navbar .a a:hover,
#navbar .ab a:hover {
  background-color: #444;
}

.dropdown ul {
  display: none;
  position: absolute;
  background-color: #333;
  padding: 10px;
  list-style: none;
  margin: 0;
  top: 100%;
}

.dropdown:hover ul {
  display: block;
}

.dropdown ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 8px 16px;
}

.dropdown ul li a:hover {
  background-color: #444;
}

.mobile-nav-toggle {
  display: none;
}

/* CSS cho các section */
/* .a,
.ab {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
} */

/* CSS cho bảng */
.tables-container {
  margin-bottom: 20px;
}

.table {
  
  width: 100%;
  cursor: pointer; 
 
  border-collapse: collapse;
  border: 1px solid #ddd;
  table-layout: fixed; /* Đặt kích thước cố định cho các cột */
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  overflow: hidden; /* Ngăn chặn hiển thị quá dài */
  text-overflow: ellipsis; /* Hiển thị dấu chấm (...) khi văn bản quá dài */
  white-space: nowrap; /* Ngăn chặn xuống dòng */
}

.table th {
  background-color: #f2f2f2;
}

.selected-row {
  background-color: #cce5ff;
}

.hover-row:hover {
  background-color: #f2f2f2;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.additional-info {
  /* Đặt các thuộc tính CSS để định dạng dòng thông tin bổ sung ở bên phải */
  /* Ví dụ: */
  flex: 0 0 50%; /* Độ rộng của dòng thông tin */
  /*text-align: right; /* Căn lề phải */
  /* Điều chỉnh các thuộc tính khác nếu cần thiết */
  padding-top: 10px;
  text-align: center;
}
