<body>
  <header id="header" class="d-flex align-items-center">
    <div class="welcome">
      Xin chào,
      <label class="user">{{fullname}}</label><br />

    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="a" (click)="themLuatMoi()">Thêm luật</a></li>
        <li><a class="ab" (click)="themBenhMoi()">Thêm Bệnh</a></li>
        <li><a class="ab" (click)="addNewTCIntoBenh()">Thêm Triệu Chứng vào Bệnh</a></li>
        <li><a class="ab" (click)="watchBenhInCSTT()">Xem Bệnh Trong Cơ Sở Chi Thức</a></li>
        <li class="dropdown">

          <a (click)="logout()"><span>Đăng xuất</span> <i class="bi bi-chevron-down"></i></a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </header>
  <!-- ======= Hero Section ======= -->
  <br>
  <br>
  <section *ngIf="themLuat" class="a">
    <div class="flex-container">
      <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <div class="tables-container">
          <div class="table">
            <div *ngIf="benhss">
              <h2>Danh Sách Các Bệnh Mới</h2>

              <table class="b">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tên Bệnh</th>
                    <th>Loại Hệ</th>
                    <th>Trạng Thái</th>
                    <th>Thêm Bệnh</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let benh of benhss">
                    <ng-container *ngIf="!benh.da_co_luat">
                      <tr>
                        <td>{{ benh.ma_benh }}</td>
                        <td>{{ benh.ten_benh }}</td>
                        <td>
                          <ng-container *ngIf="benh.loai_he == 1; else otherType">{{ 'Hệ hô hấp trên' }}</ng-container>
                          <ng-template #otherType>{{ 'Hệ hô hấp dưới' }}</ng-template>
                        </td>
                        <td>
                          <!-- Hiển thị Trạng thái -->
                          <span *ngIf="benh.da_co_luat; else chuaCoLuat">Đã có Luật</span>
                          <ng-template #chuaCoLuat>Chưa có Luật</ng-template>
                        </td>
                        <td>
                          <!-- Hiển thị button Thêm Luật dựa trên Trạng thái -->
                          <button *ngIf="!benh.da_co_luat" (click)="themLuat123(benh)">Thêm Luật</button>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </tbody>
              </table>


            </div>
          </div>

          <div class="tables-container" *ngIf="addrule">
            <div class="table">

              <h2>Bệnh đang thêm luật</h2>

              <table class="tb">
                <thead>
                  <tr>
                    <th>Mã bệnh</th>
                    <th>Tên bệnh</th>
                    <th>Loại hệ</th>


                  </tr>
                </thead>
                <tbody>
                  <tr>

                    <td>{{selectBenhaddrule.ma_benh}}</td>
                    <td>
                      {{selectBenhaddrule.ten_benh}}
                    </td>
                    <td>
                      {{selectBenhaddrule.loai_he}}
                    </td>

                  </tr>

                </tbody>
              </table>

              <table class="tb">
                <thead>
                  <tr>
                    <th>Mã triệu chứng</th>
                    <th>Tên triệu chứng</th>



                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let trieuchung of trieuchungaddrule">

                    <td>{{trieuchung[0]}}</td>
                    <td>
                      {{trieuchung[1]}}
                    </td>


                  </tr>

                </tbody>
              </table>
              <ng-container *ngIf="trieuchungaddrule && trieuchungaddrule.length > 0">
                <div class="additional-info">
                  <h3>Luật loại 1:

                    <ng-container *ngFor="let trieuchung of trieuchungaddrule; let last = last">
                      TC{{ trieuchung[0] }}
                      <span *ngIf="!last"> + </span>
                    </ng-container>
                    => B{{ selectBenhaddrule.ma_benh }}
                    <button (click)="saveruletype1()" [disabled]="saverule1">Lưu</button>
                  </h3>
                  <span class="message-text1">{{messageaddrule1}}</span>
                </div>

              </ng-container>
              <ng-container *ngIf="ma_tc && ma_tc.length > 0">
                <div class="additional-info">
                  <h3>Luật loại 3:

                    <ng-container *ngFor="let trieuchung of ma_tc">
                      <span *ngIf="trieuchung!=0">TC{{ trieuchung }}
                        => B{{ selectBenhaddrule.ma_benh }}</span>
                      <br>
                    </ng-container>

                    <button (click)="saveruletype3()" [disabled]="saverule3">Lưu</button>
                  </h3>
                  <span class="message-text1">{{messageaddrule3}}</span>
                </div>

              </ng-container>
            </div>

          </div>

        </div>
      </div>
    </div>

  </section>

  <section *ngIf="themBenh " class="ab">
    <div class="flex-container">
      <div *ngIf="themBenh" class="container" data-aos="zoom-out" data-aos-delay="100">
        <div class="tables-container">
          <div class="table">
            <div *ngIf="benhs">
              <h2>Danh Sách Các Bệnh Mới</h2>

              <table class="tb">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tên Bệnh</th>
                    <th>Loại Hệ</th>
                    <th>Trạng Thái</th>
                    <th>ID Chuyên Gia</th>
                    <th>Tên Chuyên Gia</th>
                    <th>Ghi chú</th>
                    <th>Thêm Bệnh</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let benh of benhs">
                    <tr *ngIf="benh.trang_thai == 1" (click)="selectBenh(benh); selectBenh1(benh.ma_benh_moi)"
                      [ngClass]="{'selected-row': benh === selectedBenh, 'hover-row': benh === hoveredBenh}"
                      (mouseenter)="hoveredBenh = benh" (mouseleave)="hoveredBenh = null">
                      <!-- Các ô dữ liệu -->
                      <td>{{ benh.ma_benh_moi }}</td>
                      <td>{{ benh.ten_benh_moi }}</td>
                      <td>
                        <ng-container *ngIf="benh.loai_he == 1; else otherType">{{ 'Hệ hô hấp trên' }}</ng-container>
                        <ng-template #otherType>{{ 'Hệ hô hấp dưới' }}</ng-template>
                      </td>
                      <td>Đã Sửa</td>
                      <td>{{ benh.userEntity.id_user }}</td>
                      <td>{{ benh.userEntity.fullname }}</td>
                      <td>{{ benh.ghi_chu }}</td>
                      <td>
                        <button
                          *ngIf="selectedBenh && selectedBenh.ma_benh_moi === benh.ma_benh_moi && benh.ghi_chu === 'Chưa thêm vào CSDL'"
                          (click)="showNewBenhDetails(); isAddNewBenhClicked = true;">Thêm bệnh mới</button>
                        <ng-container
                          *ngIf="!selectedBenh || (selectedBenh && selectedBenh.ma_benh_moi !== benh.ma_benh_moi)">
                          Có thể thêm
                        </ng-container>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="tables-container" *ngIf="selectedBenh1">
          <div class="table">
            <div *ngIf="listTrieuChung">
              <h2>Danh Sách Trieu Chứng</h2>
              <table class="tb">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tên Triệu Chứng</th>
                    <th>Check</th>
                    <th>Thêm Triệu Chứng</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let trieuchung of listTrieuChung, let i=index"
                    [ngClass]="{'selected-row': trieuchung === selectedBenh, 'hover-row': trieuchung === hoveredBenh}"
                    (mouseenter)="hoveredBenh = trieuchung" (mouseleave)="hoveredBenh = null"
                    (click)="showTrieuChung && !trieuchung.isClicked && selectTrieuChung(trieuchung)">

                    <td>{{trieuchung[0]}}</td>
                    <td>
                      <span *ngIf="!trieuchung.isEditing">{{ trieuchung[1] }}</span>
                      <input *ngIf="trieuchung.isEditing" type="text" [(ngModel)]="trieuchung[1]">
                    </td>
                    <td>
                      <span>
                        {{ check[i] === null ? 'TC không tồn tại' : (check[i] != null ? 'Mã TC trong CSDL: '+check[i] :
                        'Other value') }}
                      </span>
                    </td>                  
                    <td>
                      <span *ngIf="check[i] == null ||check[i] ">
                        <button *ngIf="isAddNewBenhClicked && !trieuchung.isClicked"
                          (click)="selectTrieuChung(trieuchung)">Chọn</button>
                        <span *ngIf="trieuchung.isClicked">Đã Chọn</span> <!-- Nội dung "Đã Chọn" -->
                      </span>
                    </td>                  
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div *ngIf="selectedBenh12">
            <div *ngIf="newBenh">
              <h2>Thông tin bệnh mới</h2>
              <table class="new-tb">
                <thead>
                  <tr>
                    <th>Tên Bệnh Mới</th>
                    <td>Tên TC mới</td>
                    <!-- cần thêm cột loại hệ ở đây -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let trieuChung of selectedTrieuChung">
                    <td>{{ trieuChung.tenBenh }}</td>
                    <td>{{trieuChung.tenTrieuChung}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


        </div>
      </div>
      <button (click)="SaveNewBenh(selectedBenh)">Lưu</button>
    </div>
  </section>

  <section *ngIf="addNewTC" class="abc">
    <div class="flex-container">
      <div *ngIf="addNewTC" class="container" data-aos="zoom-out" data-aos-delay="100">
        <div class="tables-container">
          <div class="table">
            <div *ngIf="benhDaco">
              <h2>Danh Sách Các Bệnh Được Gợi Ý Thêm Triệu Chứng Mói</h2>

              <table class="tb">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tên Bệnh</th>                    
                   
                    <th>ID Chuyên Gia</th>
                    <th>Tên Chuyên Gia</th>                  
                    <th>Thêm Triệu Chứng</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let benh of benhDaco">
                    <tr *ngIf="benh.trang_thai === 0" (click)="selectBenh2(benh); selectBenh1(benh.ma_benh_trong_bang_benh)"
                      [ngClass]="{'selected-row': benh === selectedBenh, 'hover-row': benh === hoveredBenh}"
                      (mouseenter)="hoveredBenh = benh" (mouseleave)="hoveredBenh = null">
                      <!-- Các ô dữ liệu -->
                      <td>{{ benh.ma_benh_trong_bang_benh }}</td>
                      <td>{{ benh.ten_benh_suggest }}</td>
                      <td>{{ benh.userEntity.id_user }}</td>
                      <td>{{ benh.userEntity.fullname }}</td>                     
                      <td>
                        <button
                          *ngIf="selectedBenh && selectedBenh.ma_benh_trong_bang_benh === benh.ma_benh_trong_bang_benh "
                          (click)="showNewBenhDetails(); isAddNewBenhClicked = true;">Xem triệu chứng mới</button>
                        <ng-container
                          *ngIf="!selectedBenh || (selectedBenh && selectedBenh.ma_benh_moi !== benh.ma_benh_moi)">
                          Có thể thêm triệu chứng
                        </ng-container>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>

            </div>
          </div>

        </div>
        <div class="tables-container" *ngIf="selectedBenh1">
          <div class="table">
            <div *ngIf="listTrieuChung">
              <h2>Danh Sách Các Triệu Chứng Được Thêm Mói</h2>
              <table class="tb">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tên Triệu Chứng</th>
                    <th>Check</th>
                    <th>Thêm Triệu Chứng</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let trieuchung of listTrieuChung, let i=index"
                    [ngClass]="{'selected-row': trieuchung === selectedBenh, 'hover-row': trieuchung === hoveredBenh}"
                    (mouseenter)="hoveredBenh = trieuchung" (mouseleave)="hoveredBenh = null"
                    (click)="showTrieuChung && !trieuchung.isClicked && selectTrieuChungSuggestMoi(trieuchung)">
                    <td>{{trieuchung[0]}}</td>
                    <td>
                      <span *ngIf="!trieuchung.isEditing">{{ trieuchung[1] }}</span>
                      <input *ngIf="trieuchung.isEditing" type="text" [(ngModel)]="trieuchung[1]">
                    </td>
                    <td>
                      <span>
                        {{ check[i] === null ? 'TC không tồn tại' : (check[i] != null ? 'Mã TC trong CSDL: '+check[i] :
                        'Other value') }}
                        <!-- Điều chỉnh 'N/A', '7', 'Other value' theo nhu cầu -->
                      </span>
                    </td>
                    <!-- ... -->
                    <td>
                      <span *ngIf="check[i] == null ||check[i] ">
                        <button *ngIf="isAddNewBenhClicked && !trieuchung.isClicked"
                          (click)="selectTrieuChungSuggestMoi(trieuchung)">Chọn</button>
                        <span *ngIf="trieuchung.isClicked">Đã Chọn</span> <!-- Nội dung "Đã Chọn" -->
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div *ngIf="selectedBenh12">
            <div *ngIf="newBenh">
              <h2>Thông tin</h2>
              <table class="new-tb">
                <thead>
                  <tr>
                    <th>Tên Bệnh</th>
                    <td>Tên TC mới</td>
                    <!-- cần thêm cột loại hệ ở đây -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let trieuChung of selectedTrieuChung">
                    <td>{{ trieuChung.tenBenh }}</td>
                    <td>{{trieuChung.tenTrieuChung}}</td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>


        </div>
      </div>
      <button (click)="saveTrieuChungBenh(selectedBenh)">Lưu</button>
      <span class="message-text1">{{message}}</span>
    </div>

  </section>
  <section *ngIf="showBenhAndTC" class="abm">
    <label class="label1">
      Chọn loại hô hấp:
      <select class="he" [(ngModel)]="loai_he" name="loai_he" required (change)="onCheckboxChange()">
        <option value="1">Hô hấp trên</option>
        <option value="2">Hô hấp dưới</option>
        <option value="3">Tất cả</option>
      </select>
    </label>
  
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="tables-container">
        <div class="table">
          <div *ngIf="benhs">
            <h2>Danh Sách Bệnh</h2>
  
            <table>
              <thead>
                <tr>
  
                  <th>Tên Bệnh</th>
  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let benh of benhs" (click)="selectBenh22(benh)"
                  [ngClass]="{'selected-row': benh === selectedBenh, 'hover-row': benh === hoveredBenh}"
                  (mouseenter)="hoveredBenh = benh" (mouseleave)="hoveredBenh = null">
  
                  <td>{{benh.ten_benh}}</td>
                  <!-- <td>{{benh[0]}}</td>
                  <td>{{benh[1]}}</td> -->
                </tr>
  
              </tbody>
            </table>
          </div>
        </div>
  
      </div>
      <div class="tables-container">
        <div class="table">
          <div *ngIf="listTrieuChung">
            <h2>Danh Sách Triệu Chứng Của Bệnh</h2>
  
            <table>
              <thead>
                <tr>
  
                  <th>Tên Triệu Chứng</th>
  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let benh of listTrieuChung"
                  [ngClass]="{'selected-row': benh === selectedBenh, 'hover-row': benh === hoveredBenh}"
                  (mouseenter)="hoveredBenh = benh" (mouseleave)="hoveredBenh = null">
  
                  <td>{{benh[1]}}</td>
                </tr>
  
              </tbody>
            </table>
          </div>
        </div>
  
      </div>
    </div>

  </section>



  <!-- End Hero -->

</body>