<body>
    <div class="container">

        <div class="box">
            <div class="form sign_in">
                <h3>Đăng Nhập</h3>
                <span>or use your account</span>

                <form action="#" id="form_input" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
                    <div class="type">
                        <input type="text" name="username" id="username" formControlName="username"
                            placeholder="Tên đăng nhập" required>

                    </div>
                    <div class="type">
                        <input type="password" formControlName="password" placeholder="Mật khẩu" required>

                    </div>

                    <div class="forgot">
                        <a routerLink="/forgotpass">Quên Mật Khẩu?</a>
                    </div>

                    <button class="btn bkg">Đăng Nhập</button>
                    <br>
                    <br>
                    <button class="btn bkg" routerLink="">Trang chủ</button>
                    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
                </form>
            </div>

            <div class="form sign_up">
                <h3>Đăng Ký</h3>
                

                <form action="#" id="form_input" [formGroup]="registerForm" (ngSubmit)=register()>
                    <div class="type">

                        <input type="text" formControlName="fullname" placeholder="Họ và tên" required>
                    </div>
                    <div class="type">

                        <input type="text" formControlName="email" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                    </div>
                    <div class="type">

                        <input type="text" formControlName="phonenumber" placeholder="Phonenumber" required pattern="[0-9]{10}">
                    </div>
                    <div class="type">

                        <input type="text" formControlName="username" placeholder="Tên đăng nhập" required>
                    </div>
                    <div class="type">

                        <input type="text" formControlName="password" placeholder="Mật Khẩu" required>
                    </div>
                    <div class="type"> 
                       

                        <select formControlName="role" placeholder="Chức vụ">
                            
                            <option value=1 checked>Chuyên gia</option>
                            <option value=2 checked>Kỹ Sư</option>
                           

                        </select>
                    </div>
                    
                    <button class="btn bkg">Đăng Ký</button>
                    <div class="message-text">{{message}}</div>
                    
                </form>
            </div>
        </div>

        <div class="overlay">
            <div class="page page_signIn">
                <h3>Welcome Back!</h3>
                <p>To keep with us please login with your personal info</p>

                <button class="btn btnSign-in" (click)="onSignInClick()">Sign Up <i
                        class="bi bi-arrow-right"></i></button>
            </div>

            <div class="page page_signUp">
                <h3>Hello Friend!</h3>
                <p>Enter your personal details and start journey with us</p>

                <button class="btn btnSign-up" (click)="onSignUpClick()">
                    <i class="bi bi-arrow-left"></i> Sign In
                </button>
            </div>
        </div>
    </div>