<body>
  <header id="header" class="d-flex align-items-center">
    <div class="welcome">
      Xin chào,
      <label class="user">{{fullname}}</label><br />

    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            Quản lý người dùng 
            <span class="notification">{{ notification }}</span>
            <i class="bi bi-chevron-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="acc" (click)="ListUsers()">Người dùng trong hệ thống</a></li>
            <li><a class="abb" (click)="AcceptUsers()">
              Chuyên Gia Mói <span class="notification">{{ notification }}</span>
            </a></li>
            
          </ul>
        </li>

        <li><a class="ab" (click)="pheduyetBenh()">Phê duyệt bệnh mới</a></li>

        <li>
          <a (click)="logout()">
            <span>Đăng xuất</span> <i class="bi bi-chevron-down"></i>
          </a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </header>
  <!-- ======= Hero Section ======= -->
  <br>
  <br>
  <section *ngIf="listUser" class="a">
    <h2>Danh Sách Người Dùng</h2>

    <div>
      <label for="userType">Loại người dùng:</label>
      <select [(ngModel)]="selectedRole" (change)="onRoleChange()" style="width: 200px;">
        <option value="1">Chuyên Gia</option>
        <option value="2">Kỹ Sư</option>
        <option value="3">Quản Trị Viên</option>
      </select>
    </div>
    <br>
    <div class="tables-container" [formGroup]="userForms"
      style="overflow-x: auto; overflow-y: auto; max-height: 400px;">
      
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Họ tên</th>
            <th>Quyền</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th *ngIf="selectedRole === '1'">Thông tin bổ xung</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let user of filteredUsers; let i = index">
            
            <tr [formGroup]="user">
              <td>{{ user.get('id_user').value }}</td>
              <td><input type="text" (input)="onFullnameChange($event, user)" formControlName="fullname"></td>
              <td>{{ mapUserRole(user.get('role').value) }}</td>

              <td><input type="text" (input)="onPhoneNumberChange($event, user)" formControlName="phonenumber"></td>
              <td><input type="text" (input)="onEmailChange($event, user)" formControlName="email"></td>
              <td *ngIf="selectedRole === '1' && user.get('role').value === '1' && user.get('status').value === '1'"
              (click)="CheckIn4(user.get('id_user').value)">
              <a class="detail-link1">Xem thông tin bổ xung</a>
            </td>
            

              <td>
                <button (click)="deleteUser(user)">Xóa</button>
                <br>
                <button (click)="updateUser(i,user)">Sửa</button>
              </td>
            </tr>
          </ng-container>
        </tbody>


      </table>
      <div class="message-text1" *ngIf="isEditing">{{message}}</div>
    </div>


    <button *ngIf="!ShowFrom" (click)="LoadForm()">Thêm Người Dùng</button>
    <br>
    <br>

    <form *ngIf="ShowFrom">
      <label>Fullname: <input [(ngModel)]="newUser.fullname" name="fullname" required></label><br>
      <label>Phone Number: <input [(ngModel)]="newUser.phonenumber" name="phonenumber" required
          pattern="[0-9]{10}"></label><br>
      <label>Email: <input [(ngModel)]="newUser.email" name="email" required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></label><br>
      <label>Username: <input [(ngModel)]="newUser.username" name="username" required></label><br>
      <label>Password: <input type="password" [(ngModel)]="newUser.password" name="password" required></label><br>
      <label>Chọn chức vụ :
        <select [(ngModel)]="newUser.role" name="role" required (change)="onRoleChange1()">
          <option value="1">Chuyên gia</option>
          <option value="2">Kỹ sư</option>
          <option value="3">Quản trị viên</option>
        </select>
      </label>

      <div [hidden]="!showStatusDropdown">
        <label>Trạng Thái :
          <select [(ngModel)]="newUser.status" name="status" required>
            <option value="1">Active</option>
            <option value="null">Not Active</option>
          </select>
        </label>
      </div>
      <button (click)="addNewUser()">Thêm</button>
    </form>
  </section>

  <section *ngIf="pheDuyetBenh" class="ab">

    <div *ngIf="PheduyetBenh" class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="tables-container">
        <h2>Bảng Bệnh Mới</h2>
        <div class="table-container">
          <table class="tb">
            <thead>
              <tr>
                <th>ID</th>
                <th>Tên Bệnh</th>
                <th>Trạng thái</th>
                <th>ID Chuyên Gia</th>
                <th>Tên Chuyên Gia</th>
                <th>Ghi chú</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let benh of benhs">
                <ng-container *ngIf="benh.trang_thai == 0">
                  <tr (click)="selectBenh(benh)"
                    [ngClass]="{'selected-row': benh === selectedBenh, 'hover-row': benh === hoveredBenh}"
                    (mouseenter)="hoveredBenh = benh" (mouseleave)="hoveredBenh = null">
                    <td>{{ benh.ma_benh_moi }}</td>
                    <td>{{ benh.ten_benh_moi }}</td>
                    <td>Chưa Sửa</td>
                    <td>{{ benh.userEntity.id_user }}</td>
                    <td>{{ benh.userEntity.fullname }}</td>
                    <td>{{ benh.ghi_chu }}</td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>

        </div>
      </div>

      <div class="tables-container">
        <h2>Bảng Trieu Chứng Mới</h2>
        <div class="table-container">
          <table class="tb">
            <thead>
              <tr>
                <th>ID</th>
                <th>Tên Triệu Chứng</th>
                <th>Sửa</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let benh of listTrieuChung"
                [ngClass]="{'selected-row': benh === selectedBenh, 'hover-row': benh === hoveredBenh}"
                (mouseenter)="hoveredBenh = benh" (mouseleave)="hoveredBenh = null">
                <td>{{benh[0]}}</td>
                <td (click)="editSymptom(benh)">
                  <span *ngIf="!benh.isEditing">{{ benh[1] }}</span>
                  <input *ngIf="benh.isEditing" type="text" [(ngModel)]="benh[1]">
                </td>
                <td>
                  <button (click)="saveEditedSymptom(benh)">Lưu</button>
                </td>
              </tr>
              <div class="message-text1">{{Emessage}}</div>
            </tbody>
          </table>

        </div>
        <button (click)="savedone()">Hoàn tất</button>
      </div>

      <div class="tables-container">
        <h2>Bảng Trieu Chứng Cũ</h2>
        <div class="table-container">
          <table class="tb">
            <thead>
              <tr>
                <th>ID</th>
                <th>Tên Triệu Chứng</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trieuchung of trieuchung">
                <td>{{trieuchung.ma_trieu_chung}}</td>
                <td>{{trieuchung.ten_trieu_chung}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </section>

  <section *ngIf="pheDuyetUser" class="abc">
    <h2>Danh sách chuyên gia đã cập nhật thông tin</h2>
    <br>
    <br>
    <br>
    <div class="tables-container1" [formGroup]="userForms"
      style="overflow-x: auto; overflow-y: auto; max-height: 1000px;">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Họ tên</th>
            
            <th>Số điện thoại</th>
            <th>Email</th>
            <!-- <th>Trạng thái</th> -->
            
            <th>Thông tin chi tiết</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody formArrayName="users">
          <ng-container *ngFor="let user of usersFormArray.controls; let i = index">
            <tr [formGroupName]="i" *ngIf="user.value.role === '1' && user.value.status === '0'">
              <td>{{ user.value.id_user }}</td>
              <td><input type="text" (input)="onFullnameChange($event, user)" formControlName="fullname" ></td>
              <td><input type="text" (input)="onPhoneNumberChange($event, user)" formControlName="phonenumber" ></td>
              <td><input type="text" (input)="onEmailChange($event, user)" formControlName="email"></td>
              <!-- <td>
                <select formControlName="status" (change)="onStatusChange(i, user)" *ngIf="user.value.role === '1'" >
                  <option value="0">Chưa Duyệt</option>
                  <option value="1">Duyệt</option>
                </select>
              </td> -->
              <td (click)="CheckIn4(user.value.id_user)">
                <a class="detail-link1">Xem thông tin chi tiết</a>
              </td>
              <td>
                <button (click)="deleteUser(user)">Xóa</button>
                <button (click)="updateUser(i,user)">Sửa</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      
      <div class="message-text1" *ngIf="isEditing">{{message}}</div>
    </div>


  </section>



  <!-- End Hero -->

</body>