<body>
    <header id="header" class="d-flex align-items-center">
        <div class="welcome">
            Xin chào,
            <label class="user">{{fullname}}</label><br/>
            
        </div>
       
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" >Quản lý người dùng</a></li>
            <li><a class="nav-link scrollto active" routerLink="/diagnosis">Chuẩn đoán bệnh</a></li>
            <li class="dropdown">
              <a routerLink="/homepage"><span>Đăng xuất</span> <i class="bi bi-chevron-down"></i></a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </header>
    <!-- ======= Hero Section ======= -->

    <div *ngIf="users">
      <h2>Danh Sách Người Dùng</h2>
      
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Fullname</th>
            <th>Role</th>
            <th>Phone Number</th>
            <th>Active</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.id_user}}</td>
            <td contenteditable="true" (input)="onFullnameChange($event, user)">{{user.fullname}}</td>
            <td contenteditable="true" (input)="onRoleChange($event, user)">{{user.role}}</td>
            <td contenteditable="true" (input)="onPhoneNumberChange($event, user)">{{user.phonenumber}}</td>
            <td>
              <button (click)="deleteUser(user)">Xóa</button>
              <button (click)="updateUser(user)">Sửa</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
      
    
 <!-- End Hero -->

</body>

