/* Định dạng cho container chứa form */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Chiều cao 100% của viewport */
    background: url("../img/hero-bg.png");
}

/* Định dạng cho form */
form {
    width: 400px; /* Độ rộng của form */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hiển thị đổ bóng cho form */
}

/* Định dạng cho các ô input trong form */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Định dạng cho nút submit */
button[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button{
    width: 100%;
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-top:10px;
}

/* Định dạng cho các thông báo lỗi */
div.error-message {
    color: red;
    margin-top: 10px;
}

/* Định dạng cho nút đăng nhập */
button.router-link {
    background-color: #008CBA;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
h2{
    text-align: center;
}
label{
    font-weight: bold;
}
