<div class ="container" *ngIf="!showPasswordResetForm && showcheckForm && !showcheckOTP">
   
    <form class="login-form" [formGroup]="ForgotPassForm" (ngSubmit)="checkUserInfo()" novalidate>
        <h2>Quên Mật Khẩu</h2>
        <div>
            <label for="username">Tên Người Dùng</label>
            <input type="text" formControlName="username" placeholder="Tên đăng nhập" required>
        </div>
        <div>
            <label for="phonenumber">Số điện thoại</label>
            <input type="text" formControlName="phonenumber" placeholder="Số điện thoại" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" formControlName="email" placeholder="Email" required>
            <br>
            <div *ngIf="errorMessage">{{ errorMessage }}</div>
        </div>
        <button type="submit">Kiểm Tra</button>
        <br>
        <br>
        <button routerLink="/login">Trở về</button>
    </form>
   
</div>

<div class="container" *ngIf="showcheckOTP && !showPasswordResetForm && !showcheckForm">
    <form [formGroup]="ForgotPassForm" (ngSubmit)="checkOTP()">
        <div>
            <label >Mã OTP</label>
            <input type="text" formControlName="otp" placeholder="Mã OTP" required>
           
        </div>
        <button type="submit">Tiếp</button>
    </form>
    <div *ngIf="errorMessage1">{{ errorMessage1}}</div>
</div>

<div class="container" *ngIf="showPasswordResetForm && !showcheckForm && !showcheckOTP">
    
    <form [formGroup]="ForgotPassForm" (ngSubmit)="resetPassword()">
        <h2>Đặt Lại Mật Khẩu</h2>
        <div>
            <label for="newPassword">Mật Khẩu Mới</label>
            <input type="password" id="newPassword" formControlName="newPassword" placeholder="Mật khẩu mới" required>
        </div>
        <div>
            <label for="confirmPassword">Nhập Lại Mật Khẩu</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Nhập lại mật khẩu" required>
        </div>
        <div *ngIf="resetPasswordMessage">{{ resetPasswordMessage }}</div>
        <br>
        <button type="submit">Đặt Lại Mật Khẩu</button>
        <br>
        <br>
        <button routerLink="/login">Đăng nhập</button>
    </form>
    
   
</div>
