#header {
  background-color: #333;
  color: #fff;
  padding: 25px 0;
  cursor: pointer; 
}

.welcome {
  margin-right: 20px;
}

.user {
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #cce5ff;
}

.dropdown {
  position: relative;
}
/* CSS cho phần Thêm bệnh và Thêm luật */
#navbar {
  display: flex;
  justify-content: flex-end; /* Hiển thị các phần tử ở bên phải */
  align-items: center;
}

#navbar .a,
#navbar .ab {
  margin-left: 10px; /* Để tạo khoảng cách giữa các phần tử */
}

/* Điều chỉnh các phần tử Thêm bệnh và Thêm luật trên thanh taskbar */
#navbar .a a,
#navbar .ab a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #333;
}

#navbar .a a:hover,
#navbar .ab a:hover {
  background-color: #444;
}

.dropdown ul {
  display: none;
  position: absolute;
  background-color: #333;
  padding: 10px;
  list-style: none;
  margin: 0;
  top: 100%;
}

.dropdown:hover ul {
  display: block;
}

.dropdown ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 8px 16px;
}

.dropdown ul li a:hover {
  background-color: #444;
}

.mobile-nav-toggle {
  display: none;
}
.container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.info-box1 {
  background-color: #f8ccd6;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  width: 400px;
  height: 100px;
}

.info-box2 {
  background-color: #ecf4be;
  padding-left: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  width: 400px;
  height: 140px;

}

.info-box3 {
  background-color: #bafad5;
  padding-left: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  width: 400px;
  height: 140px;

}

.map-box {
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  text-align: center;
  flex: 1;
}

table {
  background-color: #ffffff;
  /* Màu nền của bảng */
  border: 1px solid #dee2e6;
  /* Viền của bảng */
  border-radius: 5px;
  /* Góc bo tròn của bảng */
  padding: 20px;
  /* Khoảng cách giữa nội dung và mép của bảng */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  /* Đổ bóng cho bảng */
  padding-top: 0px;
  margin-left: 20px;

}
.label1{
  display: block;
  margin-bottom: 10px;
  margin-left: 20px;
}
.he{
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 20px;
}
.table {
  background-color: #ffffff;
  /* Màu nền của bảng */
  border: 1px solid #dee2e6;
  /* Viền của bảng */
  border-radius: 5px;
  /* Góc bo tròn của bảng */
  padding: 20px;
  /* Khoảng cách giữa nội dung và mép của bảng */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  /* Đổ bóng cho bảng */
  padding-top: 0px;
  margin-left: 20px;
  width: 90%;
  height: 300px;
  /* Độ cao của bảng */
  overflow-y: auto;
  /* Kích hoạt thanh cuộn dọc khi nội dung vượt quá chiều cao */
  margin-bottom: 80px;

}

th,
td {
  text-align: left;
  /* Căn lề nội dung về trái */
  padding: 10px;
  /* Khoảng cách giữa nội dung và mép của cột */
  border-bottom: 1px solid #dee2e6;
  /* Viền dưới của mỗi hàng */
  width: 300px;
}

th {
  background-color: #f8f9fa;
  /* Màu nền của hàng tiêu đề */
}

.tables-container {
  display: flex;
  justify-content: space-between;

  width: 5000px;
}


/* styles.css hoặc styles.scss */
.selected-row {
  background-color: #cce5ff;
  /* Màu nền khi hàng được chọn */
  transition: background-color 0.3s ease;
  /* Hiệu ứng chuyển đổi màu nền trong 0.3 giây */
}

/* styles.css hoặc styles.scss */
.hover-row:hover {
  background-color: #ffffcc;
  /* Màu nền khi chuột hover lên hàng */
  transition: background-color 0.3s ease;
  /* Hiệu ứng chuyển đổi màu nền trong 0.3 giây */
}
thead th {
  background-color: #f2f2f2;
}

tbody tr {
  transition: background-color 0.3s;
}



td {
  padding: 10px;
  border: 1px solid #ddd;
}

/* Đặt chiều rộng của cột ID */
td:first-child {
  width: 50px; /* Đặt chiều rộng mong muốn cho cột ID */
}
form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #feafa2;
}
.label { 
  display: block;
  margin-bottom: 10px;
} 
.input{
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
.select {
  width: 76%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}
.save{
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}

.add{
  width: 10%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sub {
  width: 10%;
  padding: 10px;
  margin-top: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px; /* Thêm margin-left để tạo khoảng cách giữa nút "Add" và "Sub" */
}
h2{
  font-weight: bold; /* Chữ in đậm */
  text-align: center; /* Căn giữa */
  font-size: 26px; /* Kích thước chữ */
}
option{
  font-size: 16px;
}