<body>
  <header id="header" class="d-flex align-items-center">
    <div class="welcome">
      Xin chào Bác Sĩ
      <label class="user">{{fullname}}</label><br />

    </div>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" (click)="addNewBenh()">Thêm bệnh</a></li>
        <li><a class="nav-link scrollto active" routerLink="/diagnosis">Chuẩn đoán bệnh</a></li>

        <li class="dropdown">
          <a (click)="logout()"><span>Đăng xuất</span> <i class="bi bi-chevron-down"></i></a>

        </li>

      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </header>
  <br>
  <br>


  <!-- <div *ngIf="notactiveForm"> >Vui lòng đợi xác nhận người dùng</div> -->



  <label class="label1">
    Chọn loại hô hấp:
    <select class="he" [(ngModel)]="loai_he" name="loai_he" required (change)="onCheckboxChange()">
      <option value="1">Hô hấp trên</option>
      <option value="2">Hô hấp dưới</option>
      <option value="3">Tất cả</option>
    </select>
  </label>

  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <div class="tables-container">
      <div class="table">
        <div *ngIf="benhs">
          <h2>Danh Sách Bệnh</h2>

          <table>
            <thead>
              <tr>

                <th>Tên Bệnh</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let benh of benhs" (click)="selectBenh(benh)"
                [ngClass]="{'selected-row': benh === selectedBenh, 'hover-row': benh === hoveredBenh}"
                (mouseenter)="hoveredBenh = benh" (mouseleave)="hoveredBenh = null">

                <td>{{benh.ten_benh}}</td>
                <!-- <td>{{benh[0]}}</td>
                <td>{{benh[1]}}</td> -->
              </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="tables-container">
      <div class="table">
        <div *ngIf="listTrieuChung">
          <h2>Danh Sách Trieu Chứng</h2>

          <table>
            <thead>
              <tr>

                <th>Tên Triệu Chứng</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let benh of listTrieuChung"
                [ngClass]="{'selected-row': benh === selectedBenh, 'hover-row': benh === hoveredBenh}"
                (mouseenter)="hoveredBenh = benh" (mouseleave)="hoveredBenh = null">

                <td>{{benh[1]}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="isAddingNewBenh">
    <form id="form_input" [formGroup]="newBenh" (ngSubmit)="saveNewBenh()">
      <label class="label" for="tenBenh">Tên Bệnh:</label>
      <input class="input" id="tenBenh" [formControl]="tenBenhControl" required name="tenBenh"
        [matAutocomplete]="autoTenBenh" (keyup)="onTenBenhInput($event)" />

      <mat-autocomplete #autoTenBenh="matAutocomplete">
        <mat-option *ngFor="let suggestion of suggestedTenBenh" [value]="suggestion">
          {{ suggestion }}
        </mat-option>
      </mat-autocomplete>



      <br>
      <label class="label" for="he">Loại Hệ:</label>
      <select class="select" id="he" formControlName="loai_he" name="he" required>
        <option value="1">Hệ hô hấp trên</option>
        <option value="2">Hệ hô hấp dưới</option>
      </select>
      <br>
      <!-- ... -->
      <!-- Sửa lại cách kết nối form control cho mỗi ô nhập triệu chứng -->
      <div formArrayName="trieu_chung">
        <label>Triệu chứng:</label>
        <div *ngFor="let trieuChungControl of trieuChungControls; let i = index">
          <div [formGroupName]="i">
            <!-- Sử dụng formControlName để kết nối với từng control trong form -->
            <input class="input" id="trieuChung{{i}}" formControlName="trieu_chung" name="trieuChung{{i}}" required
              (keydown)="onKeyDown($event, i)" [matAutocomplete]="auto" (input)="onTrieuChungInput($event, i)" />

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onTrieuChungSelected(i,$event)">
              <mat-option *ngFor="let suggestion of suggestedTrieuChung[i]" [value]="suggestion">
                {{ suggestion }}
              </mat-option>
            </mat-autocomplete>

            <button class="add" (click)="addNewTrieuChungIfLast(i)"
              *ngIf="i === trieuChungControls.length - 1">+</button>
            <button class="sub" (click)="removeTrieuChung(i)" *ngIf="trieuChungControls.length > 1">-</button>

          </div>
        </div>
      </div>

      <button class="save" type="submit">Lưu</button>

    </form>

  </div>
  




</body>